@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons);ul {
  margin-bottom: 0;
}

.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}

.page-header.login-page {
  align-items: center;
  background: url(/images/login.jpg?2a4b4307703df9bf24389bad33456e6a) top center;
  background-size: cover;
}

.login-page .input-group {
  margin-top: 30px;
}

